 *{ 
    margin: 0; 
    padding: 0;
 }
 
 body{
     font-family: arial, sans-serif;
      background-color: #f4f8ff;
 }

  #header{ background-color: #102a70; 
    color: white;
    text-align: center; 
    padding: 20px;
 }

  h2{
     text-align: center; 
     color: #1e3a8a;
      margin: 20px;
 }

  p{
     color: #000000; 
     padding: 10px 20px;
      line-height: 1.6;
 } 

 .box{
     border: 2px solid #610c2f;
      background-color: #f4f8ff; 
      padding: 15px;
      margin: 15px 20px;
 }

  h3{
     color: #530d0d;
     margin-bottom: 8px;
 }

      h1, h2, p{
         font-family: arial, sans-serif;
 }
